Repository hotosm/central-webhook, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, docs

fix: make sql trigger func modular so they do not interfere with one another
  db/trigger.go
  db/trigger_test.go
  main.go
Labels: none

build: update compose config to use latest tag
  compose.webhook.yml
Labels: none

fix: add ca-certs to container image for remote api SSL
  Dockerfile
Labels: devops

fix: make submission.create send data with http_post direct on Trigger
  db/trigger.go
  main.go
  parser/audit.go
Labels: none

ci: add workflow to build postgres versions + http extension
  .github/workflows/http-postgres.yml
  http.dockerfile
Labels: devops

ci: do not use docker action img tags, hardcode to postgres versions
  .github/workflows/http-postgres.yml
Labels: devops

feat: simplify code to use pgsql-http requests directly, instead of pg_notify
  .github/workflows/http-postgres.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  compose.webhook.yml
  compose.yml
  db/connection.go
  db/listener.go
  db/notifier.go
  db/notifier_test.go
  db/trigger.go
  db/trigger_test.go
  go.mod
  main.go
  main_test.go
  parser/audit.go
  parser/audit_test.go
  pgsql-http.dockerfile
  webhook/auth.go
  webhook/request.go
  webhook/request_test.go
Labels: devops, dependency, docs

ci: use os.Hostname for webhook testing in ci
  db/trigger_test.go
Labels: none

docs: update readme for correct formatting
  README.md
Labels: docs

fix: prevent duplicate webhook trigger on events, fixes #15
  db/trigger.go
  db/trigger_test.go
Labels: none

test: refactor tests, DRY / cleanup, fix race conditions
  db/trigger.go
  db/trigger_test.go
  main_test.go
Labels: none

fix: trigger memory leak by replacing shared vars with local vars #15
  db/trigger.go
  db/trigger_test.go
Labels: none

build: fix ensure that central migrations complete before the webhook init
  compose.webhook.yml
Labels: none

build: adapt to new CLI approach for the project
  Dockerfile
  compose.webhook.yml
Labels: devops

build: temp fix for postgres 18 gosu cve (false positive)
  pgsql-http.dockerfile
Labels: none

fix: fix: fix #17 fix #18 fix #20, ref #16
  .env.example
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  README.md
  compose.webhook.yml
  compose.yml
  db/trigger.go
  db/trigger_test.go
  main_test.go
  pgsql-http.dockerfile
Labels: devops, docs

fix: bump jackc/pgx due to security vuln
  go.mod
  go.sum
Labels: dependency

ci: bump all gh workflow versions to latest
  .github/workflows/http-postgres.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: devops

ci: disable postgres image scan, as we defer to upstream security
  .github/workflows/http-postgres.yml
Labels: devops

.github/labeler.yml:

bug:
  # Branch starts with `fix` or has a `fix` in the name
  - head-branch: ["^fix", "fix"]
enhancement:
  - head-branch:
      ["^feature", "feature", "^feat", "feat", "^refactor", "refactor"]
devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - Dockerfile
dependency:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - mkdocs.yml
          - README.md
